<img src="assets/img/work/proj-6/fco_ss.jpg" alt="DevGrrls Slack Channel"/>

<p>I created this channel as a space for a group of great ladies I met while taking an intro to Ruby class.  I created this as a safe space for us to share the many aspects in the dev community, from asking questions, to upcoming events, all the way down to "pain & frustration" -- a channel devoted to those agonizing moments found in design and development!</p>

<p><a href="http://github.com/nicollehahn?tab=repositories">DevGrrls Slack Channel</a></p>

<p>Fun fact: It was initially called "Ruby Girls" but we found we wore other hats as well.  The name was changed to Devgrrls but personally I'd be happy calling it BestLadiesEver.
	I'm currently figuring out the new name when our first boy joins the group.</p>
