<img src="assets/img/work/proj-2/grindersco_ss.jpg" alt="Grinders Coffee Co." />

<p>This was a site we worked on at Betamore Academy. The site was designed & developed by Ben Plum.
Apps used were Gridlock, Normalize, and Grunt. We created the desktop version of the website, and then we refactored it to produce a responsive design.</p>

<p>Much coffee was imbibed whilst working on this project.</p>

<p>Visit the demo of the page here: <a href="http://nicollehahn.github.io/Grinders-Coffee-Co-Website">Grinders Coffee Co. Demo</a></p>
